.image-slider{
    margin-bottom: 1.5rem;
}

.mar-rgt{
    margin-right: 25px;
}

.picture{
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    flex: 1;
}

.details{
    padding: 1rem 1.25rem;
}