<div class="image-slider" *ngIf="multipleImageSlider.length">
      <ngb-carousel interval="100000" [showNavigationIndicators]="showNavigationIndicators">
          <ng-template ngbSlide *ngFor="let sliders of multipleImageSlider">
              <div class="row">
            <div class="col-3" *ngFor="let slider of sliders">
                <img class="mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="80%" height="250px">
                <!-- <div class="carousel-caption">
                    <h3>{{slider.label}}</h3>
                    <p>{{slider.text}}</p>
                </div> -->
            </div>
        </div>
          </ng-template>
      </ngb-carousel>
</div>