@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

:host /deep/ ng2-smart-table th.ng2-smart-actions-title-add a {
  font-size: 12px !important;
}

:host /deep/ ng2-smart-table .ng2-smart-actions a.ng2-smart-action{
  font-size: 18px !important;
  padding: 0 5px;
}