<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <img src="assets/images/logo.png" width="200px" height="80px">
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <!-- <nb-icon class="menu-icon" icon="settings-2-outline"></nb-icon> -->
  <span class="mar-rgt"><a [routerLink]="['/pages/about-us']">About Us</a></span>
  <span  class="mar-rgt"><a [routerLink]="['/pages/contact']">Contact Us</a></span>
  <span><a [routerLink]="['/auth/login']">Login</a></span>
  <!-- <nb-actions size="small">

     <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> 
    <nb-action icon="email-outline"><span class="subtitle number ng-star-inserted">Contact</span></nb-action>
    
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="assets/images/user">
               <nb-user [nbContextMenu]="userMenu"
               
               [name]="'Login'"
               >
      </nb-user>
    </nb-action>
  </nb-actions> -->
</div>
