<div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-header>
          <h3>Why Urban Doors ?</h3>
        </nb-card-header>
        <div class="row">
          <div class="col-6">
            <nb-card-body>
              <ul>
                <li>
                  Urban Door provides the best quality door with reasonable
                  prices. We manufacture customized doors as per your demands and
                  dimensions.
                </li>
                <li>We offer one of the most durable steel doors for you.</li>
                <li>
                  We provide customized doors with precise details and innovative
                  designs.
                </li>
                <li>
                  Our product is most authentic, and modernized doors that
                  enhances the overall appeal of your building.
                </li>
                <li>The most important virtue of our firm is to provide customer's satisfaction with specific deadlines. We are ready to assist your needs as per your requirements.</li>
                <li>We make our customers comfortable with E-Catalogue and constant connectivity with them.</li>
              </ul>
            </nb-card-body>
          </div>
          <div class="col-5">
            <nb-card-body>
              <p>
                As Urban doors is the first company in India, that offers you all variety in various types of door designs.
              </p>
              <p>We specifically deal in the following types: </p>
              <ul>
                <li>Stainless Steel Doors(SS)</li>
                <li>Iron Doors(MS)</li>
                <li>Doors with HPL</li>
                <li>UPVC Doors</li>
                <li>Glass Doors</li>
                <li>PVC Doors</li>
                <li>Aluminium Doors</li>
              </ul>
            </nb-card-body>
          </div>
        </div>
      </nb-card>
    </div>
  </div>