@import 'themes';

@import '~@nebular/theme/styles/globals';

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
};

//Generic classes
.noMar{
  margin: 0;
}
.noPad{
  padding: 0;
}
.csrPtr{
  cursor: pointer;
}